[submodule "GRAnalyzer"]
        path = GRAnalyzer
        url = git@github.com:nobukoba/GRAnalyzer.git
[submodule "MPIEventLoop"]
        path = MPIEventLoop
        url = git@github.com:nobukoba/MPIEventLoop.git
