[submodule "GRAnalyzer"]
        path = GRAnalyzer
        url = https://github.com/nobukoba/GRAnalyzer.git
[submodule "MPIEventLoop"]
        path = MPIEventLoop
        url = https://github.com/nobukoba/MPIEventLoop.git
